/* color copied from ricepurity*/
html {
    background-color: #FBEEC8; 
    background-image: url("media/owlcomp2.png");
}
body {
    text-align: center;
    font-size: 20px;
}

#questions {
    text-align: left;
}

#CalculateButton {
    text-align: left;}

#submit {
    text-align: left;}